.headerBlock{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
    margin-left: 40px;

    

    &__fig{
        display: flex;
        align-items: flex-start;
        margin: 0;
        width: 120px;
        height: 50px;

        .img{
            width: 120px;
            height: 50px;
        }

        
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .headerBlock{
      width:  auto;
    }

      
    
}

@media screen and (max-width: 769px) {
    .headerBlock{
        width:  auto;

    }

        
}



