.host-comp {
    display: flex;
    width: 100%;
    justify-content: space-between;
    }


.hostPicture {
    display: flex;
    width: 64px;
    height: 64px;
    margin-left: 10px;
    border-radius: 50%;
    background: #C4C4C4;

    & img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.host-name {
    display: flex;
    width: 93px;
    height: 66px;
    align-items: center;
    text-align: right;
    font-style: normal;
    font-size: 19px;
    font-weight: 500;
    line-height: 142.6%;
}