.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 210px;
    margin-top: 5%;
    background-color: #000000;;
    
    
    &__text{
        display: flex;
        align-items: flex-end;
        justify-content: center;
        color: #FFFFFF;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 142%;
        width: auto;
        margin: 10px 10px 10px 10px;
        
    }

    img{
        align-items: center;
        width: 122px;
        height: 40px;
    }
    
}

@media screen and (max-width: 992px) {
    .container{
        width: auto;
                    
            
        
    }
    
}

@media screen and (max-width: 768px) {
    .container{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 210px;
        margin-top: 5%;
        background-color: #000000;;
        
        
        &__text{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            left: 32.15%;
            right: 32.15%;
            top: 64.11%;
            bottom: 14%;     
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 142%;
            width: 100%;
            margin: 4% 0 3% 0;
            background-color: aquamarine;
        }
    
        img{
            margin-top: 2%;
            left: 45.76%;
            right: 45.76%;
            top: 31.58%;
            bottom: 49.55%;
            width: 122px;
            height: 40px;
            
        }
    }
            
}