
.App{
	width: auto;
	align-items: center;
	margin-left: 20px;
	margin-right: 20px;
	
}

/*
body {
	width: auto; 
	font-family: 'Raleway', sans-serif;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	align-items: center;
	//background-color: red;
	
		
}

header {
	width: auto;
	height: auto;
	margin-left: 40px;
	margin-right: 40px;
					
}

main{
	width: auto;
	display: flex;
	flex-direction: column;
	margin-left: 40px;
	margin-right: 40px;
		
}

footer{
	width: auto;
	display: flex;
	align-items: center;
	margin-left: 40px;
	margin-right: 40px;
	
	
}
/*

@media screen and (max-width: 992px) {
	body{
		width: auto;
		//align-items: center;
		
	 }
	 header {
		width: auto;
		height: auto;
		//margin-bottom: 20px;
				
	}
	main{
		width: auto;
		display: flex;
		flex-direction: column;
		
		
		
	}    
	footer{
		width: auto;
		display: flex;
		flex-direction: column;
			
		
	} 
    
}

@media screen and (max-width: 768px) {
    body{
		width: auto;
		align-items: center;
		
	 }
	 header {
		width: auto;
		//height: auto;
		//margin-bottom: 20px;
				
	}
	main{
		width: auto;
		display: flex;
		flex-direction: column;
		background-color: bisque;
				
		
	}
	footer{
		width: auto;
		display: flex;
		flex-direction: column;
			
		
	} 
            
}

*/


.bl-msk {
	background: rgba(0, 0, 0, 0.3);
	mix-blend-mode: darken;
	border-radius: 25px;
}

.wh-msk {
	background: #f7f7f7;
	border-radius: 10px;
}

.errorContainer {
	display: flex;
	color: #ff6060;
	flex-direction: column;
	align-items: center;
	margin: 100px 0;
}

.errorNumber {
	display: flex;
	font-size: 288px;
	font-weight: 700;
	margin: auto;
}

.errorText {
	display: flex;
	font-size: 36px;
	font-weight: 500;
}

.errorLinkHome {
	display: flex;
	text-decoration: none;
	color: #ff6060;
	font-size: 18px;
	font-weight: 500;
	margin-top: 100px;

	&:hover {
		text-decoration-line: underline;
	}
}



.link_card_logement {
	text-decoration: none;
}

.equipList {
	list-style-type: none;
}





