


.fiche-container {
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: auto;
	//align-items: center;
}

.title-tags-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.tags-container {
	display: flex;
	margin-bottom: 10px;
	flex-wrap: wrap;
	
}

.rate-host-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
}

.hostInfo-container {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.collapse-fiche-container {
	display: flex;
    width: auto;
	margin-right: 20px;
	gap: 6%;
}


h1{
    font-size: 22px;
    color: red;
	
}
h3{
    font-size: 16px;
    color: red;
	
}

.hostInfo-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: auto;
	
}

@media screen and (max-width: 992px) {
	.fiche-container {
		width: auto;
		
	}
             
    
}

@media screen and (max-width: 768px) {
	.fiche-container {
		width: auto;
		
	}
    .hostInfo-container {
        display: flex;
        flex-direction: column;
        width: auto;
        justify-content: space-between;
    }     
	.collapse-fiche-container {
		display: flex;
		flex-direction: column;
		width: auto;
		gap: 2%;
	
	} 
    
}
